[submodule "submodules/vulkan-headers"]
	path = submodules/vulkan-headers
	url = https://github.com/KhronosGroup/Vulkan-Headers
[submodule "submodules/meshoptimizer"]
	path = submodules/meshoptimizer
	url = https://github.com/zeux/meshoptimizer
[submodule "submodules/vk-bootstrap"]
	path = submodules/vk-bootstrap
	url = https://github.com/charles-lunarg/vk-bootstrap
[submodule "submodules/volk"]
	path = submodules/volk
	url = https://github.com/zeux/volk
[submodule "submodules/vulkanmemoryallocator"]
	path = submodules/vulkanmemoryallocator
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator
[submodule "submodules/enkits"]
	path = submodules/enkits
	url = https://github.com/dougbinks/enkiTS
[submodule "submodules/fastgltf"]
	path = submodules/fastgltf
	url = https://github.com/spnda/fastgltf
[submodule "submodules/stb"]
	path = submodules/stb
	url = https://github.com/nothings/stb
[submodule "submodules/glfw"]
	path = submodules/glfw
	url = https://github.com/glfw/glfw
[submodule "submodules/glm"]
	path = submodules/glm
	url = https://github.com/g-truc/glm
[submodule "submodules/fmt"]
	path = submodules/fmt
	url = https://github.com/fmtlib/fmt
[submodule "submodules/tracy"]
	path = submodules/tracy
	url = https://github.com/wolfpld/tracy
[submodule "submodules/vulkan-utils"]
	path = submodules/vulkan-utils
	url = https://github.com/KhronosGroup/Vulkan-Utility-Libraries/
[submodule "submodules/imgui"]
	path = submodules/imgui
	url = https://github.com/ocornut/imgui
[submodule "submodules/dds_image"]
	path = submodules/dds_image
	url = https://github.com/spnda/dds_image
[submodule "submodules/ktx-software"]
	path = submodules/ktx-software
	url = https://github.com/KhronosGroup/KTX-Software/
